.footer {
  border-top: 1px solid #eee;
  padding: 12.8rem 0;

  &__container {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
    gap: 2.4rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__logo {
    @extend .header__logo;
  }

  &__socials {
    display: flex;
    gap: 1.6rem;
  }

  &__social-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    color: #555;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #767676;
    display: block;
    font-style: normal;
    text-decoration: none;
  }

  &__email-box {
    margin-top: auto;
  }

  &__copyright {
    margin-top: auto;
  }

  &__hoverable {
    transition: 0.2s;
    &:hover {
      color: #333;
    }
  }
}
