.testimonials {
  background-color: #fdf2e9;
  padding: 9.6rem 0 9.6rem 0;

  // &__heading {

  // }

  &__sub-title {
    @extend .work__sub-title;
  }

  &__title {
    @extend .work__title;
  }

  &__container {
    display: grid;
    grid-template-columns: 55fr 45fr;
    gap: 4.4rem;
  }

  &__customers {
    @include customized-grid(2, 4.4rem);
  }

  &__gallery {
    @include customized-grid(3, 1.2rem);
    align-content: center;
    padding: 1.2rem 0;
  }

  &__imgs {
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
