.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
}

.btn--primary:link,
.btn--primary:visited {
  color: #fff;
  background-color: #e67e22;
  transition: 0.2s;

  &:hover {
    background-color: #cf711f;
  }
}

.btn--secondary:link,
.btn--secondary:visited {
  color: #333;
  background-color: #fff;
  transition: 0.2s;

  &:hover {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 5px #fff;
  }
}
