.customer-said {
  &__img {
    display: block;
    width: 6.2rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;
  }

  &__text {
    color: #333;
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 2.4rem;
  }

  &__name {
    color: #6f6f6f;
  }
}
