.recipe {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: 0.4s;

  &:hover {
    transform: translateY(-1.2rem);
  }

  &__img {
    display: block;
    width: 100%;
    margin-bottom: 3.2rem;
  }

  &__content {
    padding: 0 3.2rem 3.2rem 3.2rem;
  }

  &__tags {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    gap: 1.2rem;
  }

  &__name {
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 2.2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.8rem;
    color: #333;

    li {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
  }

  &__icon {
    width: 2.2rem;
    height: 2.2rem;
    color: #cf711f;
  }

  &__text {
    font-weight: 500;
  }
}
