.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.special-text {
  color: #e67e22;
}

.margin-top-sm {
  margin-top: 3.2rem;
}

.margin-top-md {
  margin-top: 4.8rem;
}

.margin-bottom-sm {
  margin-bottom: 3.2rem;
}

.margin-right-sm {
  margin-right: 2rem;
}
